* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* banner section */

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    position: relative;
  }

  .banner {
    text-align: right;
    width: 525px;
    height: 228px;
    margin-left: auto;
    padding-top: 20vh;
    padding-right: 20vh;
  }

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-bottom: 20px;
  }

.banner-content {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 30px;
  }

  /* banner and sm-banner button */
.btn-primary {
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;

  }

/* Previous Year Blog Section */
  .blog {
    display: flex;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    gap: 80px;

  }

  .blog_img img {
    width: 572px;
  }

  .blog-content h2{
    font-weight: 700;
    font-size: 40px;
    width: 288px;
  }

  .blog-content p {
    width: 416px;
    margin: 20px 0;
    line-height: 26px;
  }

  .blog-content ul {
    margin: 20px 0;
    line-height: 40px;
  }

  .blog-content li {
    list-style-type: none;
    
  }

  .blog-content li span {
    color: rgb(18, 239, 18);
  }

/* My Plans Section */
  .my-plan {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 20vh;
  }

  .plan-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 60px;

}

.plan {
    padding: 30px;
}

.plan-title {
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.plan-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    padding-top: 18px;
}

/* small banner section */
.sm-banner {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    top: 2221.96px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    padding-top: 130px;
}

.sm-banner-container {
    padding-left: 65px;
}

.sm-banner-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 459px;
    line-height: 47px;
    padding-bottom: 24px;

}

/* Future Section */
.future {
    display: flex;
    justify-content: center;
    gap: 332px;
    background: #151414;
    padding: 130px 200px;
}

.future h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: left;
    color: #F8F8F8;
    padding-bottom: 16px;
}

.future p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 485px;
    padding-bottom: 16px;
}

.future h4 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 16px;

    
}

.future input[type="email"] {
    margin-bottom: 24px;
    border: 1px solid;
    background-color: #151414;
    width: 100%;
    padding:18px 30px;
    border-radius: 8px;
    color: #FFFFFF;
}

.future a {
    text-decoration: none;
    padding: 5px;
}

.btn-secondary {
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #005FAC;

  }