* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    position: relative;
  }

  .banner {
    text-align: right;
    width: 525px;
    height: 228px;
    margin-left: auto;
    padding-top: 20vh;
    padding-right: 20vh;
  }

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-bottom: 20px;
  }

.banner-content {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 30px;
  }

.btn-primary {
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;

  }


  .blog {
    display: flex;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    gap: 80px;

  }

  .blog_img img {
    width: 572px;
  }

  .blog-content h2{
    font-weight: 700;
    font-size: 40px;
    width: 288px;
  }

  .blog-content p {
    width: 416px;
    margin: 20px 0;
    line-height: 26px;
  }

  .blog-content ul {
    margin: 20px 0;
    line-height: 40px;
  }

  .blog-content li {
    list-style-type: none;
    
  }

  .blog-content li span {
    color: rgb(18, 239, 18);
  }


  .my-plan {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 20vh;
  }

  .skills-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 60px;

}

.skill {
    padding: 30px;
}

.skill-title {
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.skill-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    padding-top: 18px;
}