* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    position: relative;
  }

  .banner {
    text-align: right;
    width: 525px;
    height: 228px;
    margin-left: auto;
    padding-top: 20vh;
    padding-right: 20vh;
  }

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-bottom: 20px;
  }

.banner-content {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 30px;
  }

.btn-primary {
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;

  }